html, body {
  height: 100%;
  width: 100%;
}

.button{
  border-radius:5px;
  display: inline-block;
  margin-left: 15px;
  border: 3px ridge;
  border-color:rgb(66, 66, 66, .6);
  
}
.button:hover{
  color:rgb(138, 138, 138);
  border-color:rgb(138, 138, 138);
  cursor:pointer;
}


.output-header{
  margin-top:25px;

}

.main-block{
  display:inline-block;
  width:450px;
  
}
